
$tools-window-background: #bcc2be
$main-margin: 15px
$full-backgroud-color: #e6e9ed
$base-radius: 15px
$base-padding: 15px
$tools-window-height: 40px
$tools-width: 60px
body
    background-color: $full-backgroud-color
.start-window 
    height: calc( 100vh - 2*$main-margin )
    margin: $main-margin

.tools-window
    height: $tools-window-height
    background-color: $tools-window-background
    border-radius: $base-radius
    padding: $base-padding

.whiteboard
    margin-top: $main-margin
    background-color: white
    height: calc( 100vh -  (3*$main-margin + 2*$base-padding + $tools-window-height))
    border-radius: 5px
    cursor: crosshair

.tool-button
    padding-top: 10px
    padding-bottom: 10px
    height: calc($tools-window-height - 2*10px)
    width: $tools-width
    text-align: center
    background-color: white
    border-radius: $base-radius/2


.flex-container
    display: flex
    div
        margin-inline: 5px

.zoom-buttons
    div
        padding: 10px
        background-color: white
        border-radius: $base-radius/2 

.copy-canvas
    position: absolute
    top: 2*$main-margin + 2*$base-padding + $tools-window-height
    left: $main-margin

    